body {
/*  background-size: cover; */

  background-repeat: no-repeat;
  background-position: top center;
  background-size: 1400px;
  background-color: blue; 
  background-image: url('img/background.png');
}

/*#bg {
    width: 1280px;
    background-repeat: repeat;
    position: absolute;
    margin: 74px
}*/
/*
#bg2 {
  margin-left: 800px;
  background-repeat: repeat;
  position: absolute;
   width: 630px;
    height: 620px;

}*/


.box {
    background-color: red;
    margin: auto;
    width: 560px;
    height: 800px;
    overflow: auto;

}

h1{
    font-family: 'Telegrafico', sans-serif;
    font-size: 30px;
    color: white;
    margin-top: 75px;
    /*margin-left: 20px;
    position: absolute;*/
    text-align: center;
    /*transform: rotate(90deg);*/
}

p {
    margin-top: 140px;
    margin: auto;
    /*margin-left: 120px;*/
   /* position: absolute;*/
    font-family: helvetica;
    color: yellow;
    width: 380px;
    text-align: center;
}


.logo img {
    margin-top: -20px;
    margin-left: 150px;
    /* MARGIN: AUTO; */
    position: relative;
    color: white;
    width: 63%;
}

.dl {
    margin-top: 74px;
    margin-left: 204px;
    /* position: absolute; */
    /* margin: auto; */
    font-family: helvetica;
    color: white;
    width: 150px;
    text-align: center;
}

.fh {
    font-size: 10px;
    font-family: helvetica;
    margin-left: 227px;
    /* margin-left: 150px; */
    /* margin: auto; */
    margin-top: 0px;
    /* position: absolute;
}



