.hide {
  opacity: 0;
}

.text: {
	font-family: helvetica; 
	size: 14px;
}

.gradient {
  background: linear-gradient(135deg, #ff0000 1%,#fff200 20%,#00ffdd 40%,#090df9 60%,#ff0af6 80%,#ff0004 100%);
  color: white;
}

.fadeout {
	opacity: 0;
}

.fake-ui-2 {
	height: 30px;
	background-color: blue;
	position: absolute;
    width: 300px;
    height: 251px;
    bottom: 295px;
    z-index: 100;
    pointer-events: none;	
}

.fake-ui-1 {
	height: 30px;
	background-color: red;
	position: absolute;
    width: 300px;
    height: 251px;
    bottom: 10px;
    z-index: 100;
    pointer-events: none;	
}

.fake-ui-1 img, .fake-ui-2 img {
	height: 50%;
	width: 100%;
	height: auto;
}

.fake-sponsor-1 {
	height: 20px;
	background-color: red;
	position: absolute;
    width: 300px;
    height: 251px;
    bottom: 10px;
    z-index: 100;
    pointer-events: none;	
}

.attribution {
	opacity: 0;
}

.carousel-item-container {
	opacity: 0 !important;
}

.standalone-ad-container video, .standalone-ad-container img, .standalone-ad-container, .dockable_video_embed video, /*.post_container video*//*, .post_container img, .post_container video*/ {
	opacity: 0 !important;
}

.post_wrapper {
	opacity: 0;
}

/*.post_media img, .post_media video {
	background: url('https://trietdang.github.io/interactive1/extension/example/img/ads.JPG') !important;;
}*/

.standalone-ad-container {
	background: url('https://trietdang.github.io/interactive1/extension/example/img/3.jpg') !important;
}

.sponsored_post {
	background: url('https://trietdang.github.io/interactive1/extension/example/img/3.jpg') !important;
}

.post_media_photo

.standalone-ad-container {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    margin: 0 0 20px;
    background-color: #fff;
    border-radius: 53px;
    color: #444;
    font-size: 13px;
    text-rendering: optimizeLegibility;
}
