.hide {
  opacity: 0;
}

.gradient {
  background: linear-gradient(135deg, #ff0000 1%,#fff200 20%,#00ffdd 40%,#090df9 60%,#ff0af6 80%,#ff0004 100%);
  color: white;
}

.fadeout {
	opacity: 0;
}

.fake-ui-2 {
	height: 20px;
	background-color: blue;
	position: absolute;
    width: 300px;
    height: 251px;
    bottom: 295px;
    z-index: 100;
    pointer-events: none;	
}

.fake-ui-1 {
	height: 20px;
	background-color: red;
	position: absolute;
    width: 300px;
    height: 251px;
    bottom: 10px;
    z-index: 100;
    pointer-events: none;	
}

.fake-sponsor-1 {
	height: 20px;
	background-color: red;
	position: absolute;
    width: 300px;
    height: 251px;
    bottom: 10px;
    z-index: 100;
    pointer-events: none;	
}
