body {
    /*background-image: url("http://i.giphy.com/3xz2BLHPfdkbJXniM0.gif");*/
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background: linear-gradient(to bottom, rgb(39,34,173) 0%,rgb(102,40,201) 34%,rgb(152,56,255) 68%,rgb(244,34,139) 100%); /* FF3.6-15 */
    display: block;
}

.symbol1 img {
  width: 60px;
  margin-left: 320px;
  margin-top: 10px;
  position: absolute;
}

.symbol2 img {
  width: 60px;
  margin-left: 1050px;
  margin-top: 10px;
  position: absolute;
}

}

.symbol1 {
  width: 30px;
  top: 10%;
  left: 30%;
}

.content {
  position: absolute;
  top: 35%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 35px;
  line-height: 40px;
  font-family: 'Lato', sans-serif;
  color: #ecf0f1;
  height: 160px;
  overflow: hidden;
}

.visible {
  font-weight: 600;
  overflow: hidden;
  height: 40px;
  padding: 0 40px;
}
.visible:before {
  content: '[';
  left: 0;
  line-height: 40px;
}
.visible:after {
  content: ']';
  position: absolute;
  right: 0;
  line-height: 40px;
}
.visible:after, .visible:before {
  position: absolute;
  top: 0;
  color: #16a085;
  font-size: 42px;
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  animation-name: opacity;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

p {
  display: inline;
  float: left;
  margin: 0;
}

ul {
  margin-top: 0;
  padding-left: 110px;
  text-align: left;
  list-style: none;
  -webkit-animation-name: change;
  -webkit-animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
  animation-name: change;
  animation-duration: 6s;
  animation-iteration-count: infinite;
}

ul li {
  line-height: 40px;
  margin: 0;
}

@-webkit-keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@-webkit-keyframes change {
  0%, 12%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  17%,29% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  34%,46% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  51%,63% {
    -webkit-transform: translateY(-75%);
            transform: translateY(-75%);
  }
  68%,80% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  85%,97% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
}
@keyframes opacity {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
@keyframes change {
  0%, 12%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  17%,29% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
  34%,46% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  51%,63% {
    -webkit-transform: translateY(-75%);
            transform: translateY(-75%);
  }
  68%,80% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  85%,97% {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
  }
}



* {
  margin: px;
  padding: 0px;
}

p {
  font-family: helvetica;
  font-size: 16px;
}

body {
  font-family: 'Telegrafico', sans-serif;
}

h1 {
  margin: 0px;
  margin: 20px;
}

img {
  max-width: 100%;
  height: auto;
}

/*#question {
  color: white;
  text-align: center;
  font-size: 24px;
}*/

#pokebutton {
  color: white;
  text-align: center;
  font-size: 46px;
      opacity: 1;
    transition: all 2.5s ease;
    transition-property: all;
    transition-duration: 2.5s;
    transition-timing-function: ease;
    transition-delay: initial;
}

#facebook {
  color: white;
  text-align: center;
  font-size: 36px;
}

#poke {
  font-size: 24px;
  font-color: white;
  width: 500px;
  padding: 80px;
  margin-left: 30px;
/*  border: 5px solid blue;*/
  text-align: center;
  background-color: white;
    opacity: 0.8;
    filter: alpha(opacity=80);
  display: block;
}



  /*margin-top: 13px;
  font-size: 24px
  font-color: white;
  width: 500px;
  padding: 80px;
  margin-left: 30px;
  border: 5px solid blue;
  text-align: center;
  background-color: white;
    opacity: 0.8;
    filter: alpha(opacity=80);*/

#exp1 {
  font-size: 24px;
  font-color: black;
  border: 5px solid linear-gradient(to bottom, rgb(244,34,139) 0%,rgb(152,56,255) 51%,rgb(47,42,211) 97%);/*#FF00DB*/;
  width: 500px;
  height: 493px;
  padding:80px;
  margin-left: 700px;
  text-align: center;
  background-color: white;
  position: absolute;
  overflow: scroll;
  opacity: 0.8;
    filter: alpha(opacity=80);
}

.girl1 img {
  width: 100px;
}
.girl1 p {
  opacity: 0;
}

.girl1:hover p {
  opacity: 1;
  color: #ff00ff;
}

.conversation1 {
  position: absolute;
  text-align: left;
  width: 80px;
  margin-left: 70px;
  margin-top: 15px;
}

.profile1 {
  position: absolute;
  text-align: left;
  width: 50px;
}

.conversation2a {
  margin-top: 90px;
  position: absolute;
  text-align: left;
  font-size: 16px;
  margin-left: 290px;
}

.conversation2 {
  font-family: helvetica;
  position: absolute;
  text-align: left;
  font-size: 16px;
  margin-left: 290px;
  margin-top: 45px;
}



.profile2 {
  position: absolute;
  text-align: left;
  width: 60px;
  margin-left: 450px;
  margin-top: 45px;
}

.profile3 {
  position: absolute;
  text-align: left;
  width: 50px;
  margin-top: 130px;
}

.conversation3 {
  position: absolute;
  text-align: left;
  margin-left: 70px;
  margin-top: 130px;
}

.profile4 {
  position: absolute;
  text-align: left;
  width: 60px;
  margin-left: 450px;
  margin-top: 220px;
}

.conversation4 {
  font-family: helvetica;
  position: absolute;
  text-align: left;
  font-size: 16px;
  margin-left: 290px;
  margin-top: 220px;
}


.profile5 {
  position: absolute;
  text-align: left;
  width: 50px;
  margin-top: 290px;
}

.conversation5 {
  position: absolute;
  text-align: left;
  margin-left: 70px;
  margin-top: 290px;
}

.profile6 {
  position: absolute;
  text-align: left;
  width: 60px;
  margin-left: 450px;
  margin-top: 380px;
}

.conversation6 {
  font-family: helvetica;
  position: absolute;
  text-align: left;
  font-size: 16px;
  margin-left: 290px;
  margin-top: 380px;
}


.profile7 {
  position: absolute;
  text-align: left;
  width: 60px;
  margin-top: 460px;
}

.conversation7 {
  font-family: helvetica;
  position: absolute;
  text-align: left;
  font-size: 16px;
  margin-left: 70px;
  margin-top: 460px;
}


.profile8 {
  position: absolute;
  text-align: left;
  width: 50px;
  margin-left: 450px;
  margin-top: 550px;
}

.conversation8 {
  position: absolute;
  text-align: left;
  margin-left: 290px;
  margin-top: 550px;
}

.profile9 {
  position: absolute;
  text-align: left;
  width: 60px;
  margin-top: 640px;
}

.conversation9 {
  font-family: helvetica;
  position: absolute;
  text-align: left;
  font-size: 16px;
  margin-left: 70px;
  margin-top: 640px;
}

.profile10 {
  position: absolute;
  text-align: left;
  width: 50px;
  margin-left: 450px;
  margin-top: 720px;
}

.conversation10 {
  position: absolute;
  text-align: left;
  margin-left: 290px;
  margin-top: 720px;
}

#exp2 {
  margin-top: 24px;
  height: 692px;
  font-size: 24px;
  font-color: black;
  border: 5px linear-gradient(to bottom, rgb(244,34,139) 0%,rgb(152,56,255) 51%,rgb(47,42,211) 97%);/*solid blue*/;
  width: 500px;
  padding:80px;
  margin-left: 700px;
  text-align: center;
  background-color: white;
  position: absolute;
  overflow: scroll;
   opacity: 0.8;
    filter: alpha(opacity=80);
}

/*

.girl2:hover {
  display: block;
  height: 100px;
  background: red;
}

*/


.girl2 img {
  width: 100px;
}
.girl2 p {
  opacity: 0;
}

.girl2:hover p {
  opacity: 1;
  color: #ff00ff;
}


.conversation3b {
  width: 120px;
  position: absolute;
  text-align: left;
  margin-left: 60px;
  margin-top: 130px;
}

.conversation4b {
  font-family: helvetica;
  position: absolute;
  text-align: left;
  font-size: 16px;
  margin-left: 420px;
  margin-top: 220px;
}

.conversation5 {
  width: 120px;
  position: absolute;
  text-align: left;
  margin-left: 70px;
  margin-top: 290px;
}

.conversation7b {
  width: 70px;
  font-family: helvetica;
  position: absolute;
  text-align: left;
  font-size: 16px;
  margin-left: 70px;
  margin-top: 460px;
}

.conversation9b {
  width: 80px;
  font-family: helvetica;
  position: absolute;
  text-align: left;
  font-size: 16px;
  margin-left: 70px;
  margin-right: 1000px;
  margin-top: 640px;
}

.image2 {
  align-items: center;
  margin-top: 900px;
}

.dot {
  margin-top: 800px;
  text-align: center;
}

.marquee111 {
  position: absolute;
  left: 150px;
  top: 1000px;
  float: left;
  margin-right: -1000px;
}

.marquee111 img {
  width: 80px;
}

.marquee{
  position:absolute;
  left:100px;
  top: 330px;
  color: red;
  float: left;
  font-size: 100px;
  margin-right: -1300px;
  position: fixed;
}

.marquee2{
  position:absolute;
  left:100px;
  top: 350px;
  color: red;
  float: left;
  font-size: 100px;
  margin-right: -1300px;
  position: fixed;
}



.poke1 {
  text-align: left;
}

.poke2 {
  text-align: center;
}

.poke3 {
  text-align: right;
}

.poke4 {
  text-align: center;
}
.poke5 {
  text-align: left;
}

.poke6 {
  text-align: center;
}

.poke7 {
  text-align: right;
}

.poke8 {
  text-align: center;
}
.poke9 {
  text-align: left;
}

.poke10 {
  text-align: center;
}



#secondpoke {
  font-size: 24px;
  font-color: white;
  width: 500px;
  padding: 80px;
  margin-left: 30px;
 /* border: 5px solid blue;*/
  text-align: center;
  background-color: white;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.spoke1 {
  position: relative;
  margin-left: 220px;
  width: 60px;
  height: 60px;
}

.spoke2 {
  position: relative;
  margin-left: 110px;
  width: 60px;
  height: 60px;
}

.spoke3 {
  text-align: center;
  width: 60px;
  height: 60px;
}

.spoke4 {
  position: relative;
  margin-left: 110px;
  width: 60px;
  height: 60px;
}

.spoke5 {
  position: relative;
  margin-left: 220px;
  width: 60px;
  height: 60px;
}

.spoke6 {
  position: relative;
  margin-left: 330px;
  width: 60px;
  height: 60px;
}

.spoke7 {
  position: relative;
  margin-left: 440px;
  width: 60px;
  height: 60px;
}

.spoke8 {
  position: relative;
  margin-left: 330px;
  width: 60px;
  height: 60px;
}

.spoke9 {
  position: relative;
  margin-left: 220px;
  width: 60px;
  height: 60px;
}

.spoke10 {
  position: relative;
  margin-left: 110px;
  width: 60px;
  height: 60px;
}


#exp3 {
  margin-top: 25px;
  height: 683px;
  font-size: 24px;
  font-color: black;
  border: 5px linear-gradient(to bottom, rgb(244,34,139) 0%,rgb(152,56,255) 51%,rgb(47,42,211) 97%);/*solid blue*/;
  width: 500px;
  padding:80px;
  margin-left: 700px;
  text-align: center;
  background-color: white;
  position: absolute;
  overflow: scroll;
   opacity: 0.8;
    filter: alpha(opacity=80);
}


.conversation3a {
  margin-top: 45px;
  position: absolute;
  text-align: left;
  font-size: 16px;
  margin-left: 290px;
}

.girl3 img {
  width: 100px;
}
.girl3 p {
  opacity: 0;
}

.girl3:hover p {
  opacity: 1;
  color: #ff00ff;
}




#lastpoke {
  margin-top: 13px;
  font-size: 24px;
  font-color: white;
  width: 500px;
  padding: 80px;
  margin-left: 30px;
  /*border: 5px solid blue;*/
  text-align: center;
  background-color: white;
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.lpoke1 {
  text-align: left;
}

.lpoke2 {
  text-align: center;
}

.lpoke3 {
  text-align: right;
}

.lpoke4 {
  text-align: center;
}

.lpoke5 {
  text-align: left;
}

.lpoke6 {
  text-align: center;
}

.lpoke7 {
  text-align: right;
}

.lpoke8 {
  text-align: center;
}

.lpoke9 {
  text-align: left;
}

.lpoke10 {
  text-align: center;
}

