body {

	background-color: blue;
}

#ph {
    
    position: fixed; 
    font-size: 20px;
    font-family: 'Telegrafico', sans-serif;;
    color: white;
    animation: mymove 3s;
    animation-fill-mode: forwards;
}

@keyframes mymove {
    0%{margin-top: 0;left: 35%;}
    30%{left: 0%;}
    35%{margin-top: 0px;transform: rotate(-90deg)}
    100%{transform: rotate(-90deg);margin-top: 310px;
    margin-left: -160px;}
}



p {
	font-family: courier;
    margin-top: 176px;
    font-size: 26px;
    color: white;
    position: absolute;
    margin-left: 300px;
    width: 700px;
    text-align: justify;
}

a {
    text-decoration: none;
    font-family: 'Telegrafico', sans-serif;;
    margin-top: 690px;
    font-size: 26px;
    color: white;
    position: absolute;
    margin-left: 390px;
    width: 700px;

}

#photo1 {
	position: absolute;
    margin-left: 60px;
    width: 1280px;
    margin-top: 640px;
    overflow: auto;
}



