body {

	background-color: blue;
}

#ph {
    transform: rotate(90deg);
    position: fixed;
    margin-top: 310px;
    margin-left: -160px;
    font-size: 20px;
    font-family: 'Telegrafico', sans-serif;;
    color: white;
    text-orientation: 
}

p {
	font-family: courier;
    margin-top: 176px;
    font-size: 26px;
    color: white;
    position: absolute;
    margin-left: 300px;
    width: 700px;
    text-align: justify;
}

#photo1 {
	position: absolute;
    margin-left: 60px;
    width: 1280px;
    margin-top: 640px;
    overflow: auto;
}